<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.price }}</p>
    <a href="{{ url_for('edit_form_by_id', id=item.id) }}">Edit</a>
    <a href="{{ url_for('remove_form_by_id', id=item.id) }}">Remove</a>
</body>
</html>